version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: weekly
      day: sunday
    target-branch: develop
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
      day: sunday
    target-branch: develop
