name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [8, 9, 11, 17, 21]
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK version ${{ matrix.version }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.version }}
          distribution: 'adopt-hotspot'

      - name: Cache Gradle packages
        uses: gradle/actions/setup-gradle@v4

      - name: Build and test the project
        run: ./gradlew build check
